.templete {
    min-height: 900px;
    background: #FFEBF1;
    padding-top: 25px;
    margin: 0 auto;
    max-width: 520px;
}

.templete nav {
    height: 200px;
}

.title {
    text-align: center;
    margin: auto;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: -3px;
    margin-bottom: 20px;
}

.info {
    text-align: center;
    margin: auto;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: -2px;
    margin-bottom: 50px;
}

.children {
    text-align: center;
    padding-bottom: 50px;
}

