.ToDoItem {
    margin: auto;
    display: flex;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 1px 3px 5px 1px #e68ea8;
    margin : 25px;
    transition: all 0.1s linear;
}

.ToDoItem:hover {
    transform: scale(1.01);
}

.content,
.checked {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.checked {
    text-decoration: line-through;
}

.content svg,
.checked svg {
    font-size: 25px;
    vertical-align: middle;
    color: #e68ea8;
}

.content .text,
.checked .text {
    font-size: 17px;
    vertical-align: middle;
    margin-left: 8px;
    font-weight: 600;
}
