.check-menu {
  /* background-color: red; */
  display: flex;
  justify-content: flex-end;
  padding-right: 5px;
  margin-right: 20px;
}

.all-check {
  width: 75px;
  padding: 5px;
  margin-left: 10px;
  border-radius: 3px;
  border: none;
  box-shadow: 1px 2px 3px 1px #e68ea8;
  background: white;
  cursor: pointer;
}

.all-checkclear {
  width: 75px;
  padding: 5px;
  margin-left: 10px;
  border-radius: 3px;
  border: none;
  box-shadow: 1px 2px 3px 1px #e68ea8;
  background: white;
  cursor: pointer;
}

.all-delete {
  width: 75px;
  padding: 5px;
  margin-left: 10px;
  border-radius: 3px;
  border: none;
  box-shadow: 1px 2px 3px 1px #e68ea8;
  background: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: rgb(209, 84, 84); */
  color: #51e0b8;
  font-size: 15px;
}

.add-todo {
  font-size: 70px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  /* color: rgb(241, 104, 168); */
  color: #4cd4ae;
  cursor: pointer;
}

